*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	margin: 10px;
	background-color: #E8B9F5;
}
h1{
	margin-bottom: 30px; 
	margin-top: 30px; 
	text-align: center;
}
section{
	background-color: #F8EB5E;
	font-size: 18px;
	margin: 10px 10px 10px 10px;
	float: left;
	border: 1px solid black;
	position: relative;
	height: 150px;
}
.row{
	width: 100%;
}
@media(min-width: 992px ){
	.col-lg-4{
		width: 30%
	}
}
@media(min-width: 768px) and (max-width: 991px ){
	.col-md-6{
		width: 46.5%
	}
	.col-md-12{
		width: 95.6%;
	}
}
@media (max-width: 767px ){
	.col-sm-12{
		width: 95%;

	}
}
p{
	margin: 25px 0px 0px 5px;
}
.par{
	width: 35%;
	position: absolute;
	top: 0px;
	left: 65%;
	margin:0px 0px 0px 0px;
	text-align:center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
#p1{
	background-color: #F85E77;
}
#p2{
	background-color: #5E64F8;
}
#p3{
	background-color: #5EF861;
}
